{% load staticfiles %}
<html>
  <body bgcolor=grey>
    <center>
      <p/>
        <img height=100 src="{% static 'cgi_bin/images/pci.jpg' %}">
        <img height=100 src="{% static 'cgi_bin/images/badge4.jpg' %}">
        <img height=100 src="{% static 'cgi_bin/images/badge5.jpg' %}">
        <img height=100 src="{% static 'cgi_bin/images/ssl_badge.gif' %}">
        <img height=100 src="{% static 'cgi_bin/images/badge3.jpg' %}">
        <img height=100 src="{% static 'cgi_bin/images/ssl-badge.png' %}">
        <img height=100 src="{% static 'cgi_bin/images/badge2.gif' %}">
        <img height=100 src="{% static 'cgi_bin/images/badge7.png' %}">
        </p>

      </center>
    </body>
  </html>
